.App {
	display: flex;
	max-width: 600px;
	margin: 0 auto;
	flex-direction: column;
	gap: 1rem;
}

.user {
	flex: 1 1 150px;
	text-align: center;
	background-color: antiquewhite;
	padding: 5px;
}
.form {
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
}
.user-list {
	display: flex;
	gap: 1rem;
	flex-wrap: wrap;
}
